.bus-wrapper {
    background: none;
    border: none;
    width: 12px;
    height: 52px;
  
    position: absolute;
    top: -26px;
    .bus {
      .bus-number {
        background-color: #ffffff;
        border: 1px solid #000000;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 0.6rem;
        line-height: 20px;
      }
  
      .bus-icon {
        width: 25px;
        height: 25px;
      }
    }
  }