.marker-details {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background: rgba(32, 36, 33, 0.9);
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #ffffff;
    border-radius: 0 0 0 5px;
    width: 250px;
}

.marker-details-header {
    position: relative;
}

.close-details {
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 20px;
}

.close-details:hover {
    color: #4286f4;
}

.delay-text {
    color: red;
    margin-left: 5px;
}

.nodelay-text {
    color: green;
    margin-left: 5px;
}

.sub-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Vehicles: */

.stops-list {
    list-style: none;
    overflow-y: auto;
    max-height: 280px;
    padding: 10px 10px 0 0;
}

.stops-list li {
    margin: 10px 0;
}

.stop-num {
    background-color: #1f6d18;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
    margin-right: 3px;
}

.vehicle-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Stops: */

.stop-name {
    font-size: 1.5em;
}

.passages-list {
    list-style: none;
    overflow-y: auto;
    max-height: 280px;
}

.passages-list li {
    margin: 10px 0;
}

.passage-number {
    background-color: #4286f4;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    padding: 3px;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
    margin-right: 3px;
}
