.stop-name {
  font-size: 1.5em;
}

.passages-list {
  list-style: none;
  overflow-y: auto;
  max-height: 280px;
}

.passages-list li {
  margin: 10px 0;
}

.passage-number {
  background-color: #4286f4;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  padding: 3px;
  text-align: center;
  color: #ffffff;
  line-height: 22px;
}

.sub-title {
  font-size: 1.2em;
}

.delay-text {
  color: red;
}

.sub-title {
  font-size: 1.2em;
}
